header{
  display: flex;
  position: fixed;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  background-color: white;
}
.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
div.logo{
  color: MediumAquamarine;
}
header nav{
  padding-right: 40px;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
a{
  color: black;
}
body{
  margin: 0;
}

.content{
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
}
.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}

.text-content{
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.image-content{
  display: flex;
  flex-direction: column;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  height: 300px;
  color: white;
}
.leadstory .image-content{
  background-image: url("../images/mainstory.png");
  width: 630px;
  margin-top: 0px;
  font-size: 40px;
  text-align: left;
}
.fallseason.image-content{
  background-image: url("../images/fallseason.png");
}
.hipstercamera.image-content{
  background-image: url("../images/hipstercamera.png");
}
.catgirl.image-content{
  background-image: url("../images/catgirl.png");
}
div{
  border: 1px solid black;
}

p {
  display: block;
}
